image: node:16

stages: 
  - build
  - test
  - publish 
  - deploy
 
build-job: 
  stage: build
  image: node:16
  script:  
    - npm instal
    - npm run build
   # - npp #закомментируйте строку чтобы ошибка произошла на другом шаге 

  after_script:
    - >
      if [ $CI_JOB_STATUS == 'success' ]; then
        echo 'This will only run on success'
      else
         curl --request POST \
         --url https://api.pagerduty.com/incidents \
         --header 'Accept: application/vnd.pagerduty+json;version=2' \
         --header 'Authorization: Token token=e+zXC7VMQyVdv4aF1Cyw' \
         --header 'Content-Type: application/json' \
         --header 'From: aleksandr.sribnyi@oceli.energy' \
         --data '{
         "incident": {
         "type": "incident",
         "title": "here we go",
         "service": {
         "id": "PH1ZBH2",
         "type": "service_reference"
         },
          "priority": {
         "id": "P5Y3Z5L",
         "type": "priority_reference"
          },
          "urgency": "high",
          "incident_key": "",
          "body": {
          "type": "incident_body",
          "details": ""
          },
          "escalation_policy": {
          "id": "P5ZLDON",
          "type": "escalation_policy_reference"
          }
          }
          }'
      fi

test-job:
  stage: test
  image: node:16
  script:
    - echo tests
    #- npp #закомментируйте строку чтобы ошибка произошла на другом шаге 
  after_script:
    - >
      if [ $CI_JOB_STATUS == 'success' ]; then
        echo 'This will only run on success'
      else
        curl --request POST \
         --url https://api.pagerduty.com/incidents \
         --header 'Accept: application/vnd.pagerduty+json;version=2' \
         --header 'Authorization: Token token=e+zXC7VMQyVdv4aF1Cyw' \
         --header 'Content-Type: application/json' \
         --header 'From: aleksandr.sribnyi@oceli.energy' \
         --data '{
         "incident": {
         "type": "incident",
         "title": "here we go",
         "service": {
         "id": "PH1ZBH2",
         "type": "service_reference"
         },
          "priority": {
         "id": "P5Y3Z5L",
         "type": "priority_reference"
          },
          "urgency": "high",
          "incident_key": "",
          "body": {
          "type": "incident_body",
          "details": ""
          },
          "escalation_policy": {
          "id": "P5ZLDON",
          "type": "escalation_policy_reference"
          }
          }
          }'
      fi

publish-job:
 stage: publish
 script: 
    - echo publish
    #- npp #закомментируйте строку чтобы ошибка произошла на другом шаге 

 after_script:
    - >
      if [ $CI_JOB_STATUS == 'success' ]; then
        echo 'This will only run on success'
      else
        curl --request POST \
         --url https://api.pagerduty.com/incidents \
         --header 'Accept: application/vnd.pagerduty+json;version=2' \
         --header 'Authorization: Token token=e+zXC7VMQyVdv4aF1Cyw' \
         --header 'Content-Type: application/json' \
         --header 'From: aleksandr.sribnyi@oceli.energy' \
         --data '{
         "incident": {
         "type": "incident",
         "title": "here we go",
         "service": {
         "id": "PH1ZBH2",
         "type": "service_reference"
         },
          "priority": {
         "id": "P5Y3Z5L",
         "type": "priority_reference"
          },
          "urgency": "high",
          "incident_key": "",
          "body": {
          "type": "incident_body",
          "details": ""
          },
          "escalation_policy": {
          "id": "P5ZLDON",
          "type": "escalation_policy_reference"
          }
          }
          }'
      fi

deploy-job:
 stage: deploy
 script: 
    - echo deploy
    #- npp #закомментируйте строку чтобы ошибка произошла на другом шаге 

 after_script:
    - >
      if [ $CI_JOB_STATUS == 'success' ]; then
        echo 'This will only run on success'
      else
        curl --request POST \
         --url https://api.pagerduty.com/incidents \
         --header 'Accept: application/vnd.pagerduty+json;version=2' \
         --header 'Authorization: Token token=e+zXC7VMQyVdv4aF1Cyw' \
         --header 'Content-Type: application/json' \
         --header 'From: aleksandr.sribnyi@oceli.energy' \
         --data '{
         "incident": {
         "type": "incident",
         "title": "here we go",
         "service": {
         "id": "PH1ZBH2",
         "type": "service_reference"
         },
          "priority": {
         "id": "P5Y3Z5L",
         "type": "priority_reference"
          },
          "urgency": "high",
          "incident_key": "",
          "body": {
          "type": "incident_body",
          "details": ""
          },
          "escalation_policy": {
          "id": "P5ZLDON",
          "type": "escalation_policy_reference"
          }
          }
          }'
      fi